[submodule "server"]
	path = server
	url = https://github.com/odoo/odoo.git
	branch = 16.0
	shallow = true
[submodule "OpenUpgrade"]
	path = OpenUpgrade
	url = https://github.com/OCA/OpenUpgrade.git
	branch = 16.0
	shallow = true
